body {
    background-color: black;
}
h1 {
	color: red;
	text-align: center;
	font-family: comic sans ms;
}
h3 {
    color: red;
    text-align: center;
    font-family: serif;
    font-size: 50px
}
p {
    color: purple;
    text-align: center;
    font-size: 32px
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 302px;
  height: 302px;
}